@import './util.scss';

.dog-show.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.dog-show.main-infor.container {
  width: 340px;
  padding: 10px 0 10px 0;
  // height: 437px;
  background: $white;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.dog-show.header-container {
  width: 100%;
  height: 72px;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-img.container {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.profile-img.container > img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dog-show.header.infor {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.dog-show.name-age {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.dog-name {
  font-size: 24px;
  font-weight: bold;
  color: $main_pink;
}

.dog-age {
  font-size: 16px;
  color: $dark_gray;
}

.dog-show.bgo-infor-container {
  width: 100%;
}

.dog-show.bgo-infor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}

.dog-show.field-name {
  color: $light_gray;
  font-size: 14px;
  margin-right: 50px;
  line-height: 24px;
}

.dog-show.field-input {
  color: $black_gray;
  font-size: 16px;
  line-height: 24px;
}

.dog-show.pictures {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  box-sizing: border-box;
}

.dog-show.pictures > img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin: 5px;
  object-fit: cover;
  flex: 0 0 auto;
}
