@import './util.scss';

// Reset
html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  background-image: url('../assets/background.png');
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
select,
option,
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

// General Setting
#root {
  position: relative;
  min-height: 100vh;
  clear: both;
}

.hidden {
  display: none;
}

// Button settings

.button {
  text-align: center;
  margin: 8px 0 8px 0;
}

.small.button {
  width: 78px;
  height: 34px;
  font-size: 14px;
  border-radius: 150px;
}

.medium.button {
  width: 144px;
  height: 45px;
  font-size: 16px;
  border-radius: 200px; 
}

.large.button {
  width: 300px;
  height: 45px;
  font-size: 18px;
  border-radius: 300px; 
}

.main.button {
  background-color: $main_pink;
  color: $white;
}

.secondary.button {
  background-color: $main_blue;
  color: $white;
}

.tertiary.button {
  background-color: $off_white;
  color: $black_gray;
  border: 1px solid $black_gray;
}

.disabled.button {
  background-color: $medium_gray;
  color: $white;
}

// Form Input settings
.form.main.header {
  font-family: Chilanka;
  font-size: 40px;
  line-height: 44px;
  color: $black_gray;
  text-align: center;
}

.form.input {
  width: 300px;
  height: 54px;
  border-radius: 8px;
  background: $off_white;
  border: 1px solid $black_gray;
  box-sizing: border-box;
  padding-left: 15px;
  margin: 10px 0 10px 0;
  font-size: 16px;
}

.form.main.header {
  font-family: Chilanka;
  font-size: 40px;
  line-height: 44px;
  color: $black_gray;
  text-align: center;
}

.form.input::placeholder {
  color: $light_gray;
}

.form.input:focus, select option:focus {
  border: 2px solid $main_pink;
}

select {
  font-size: 16px;
  color:  $light_gray;
}

option {
  color: $black_gray;
}

option:first-child{
  color: $light_gray;
}

input[type="file"] {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Icons
.small.icon {
  height: 25px;
  width: 25px;
}

.icon:hover {
  cursor: pointer;
}

//Map
#map-container {
  width: 500px;
  height: 500px;
} 

// Errors
.errors {
  color: red;
}
