$main_pink: #F78888;
$hover_pink: #C57673;
$dark_pink: #AB5F5B;

$main_blue: #69A0D1;
$hover_blue: #4B7DA9;

$main_yellow: #F3D250;
$hover_yellow: #E8C22D;

$main_green: #74C982;
$hover_green: #59A565;

$white: #FFFFFF;
$off_white: #FAFAFA;
$lightest_gray: #ECECEC;
$light_gray: #B5B5B5;
$medium_gray: #858585;
$dark_gray: #3C3C3C;
$black_gray: #1E1E1E;