@import './util.scss';

.walks-form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

}

.walks-form-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  width: 95%;

  border: 1px dotted red;
}

.walks-form-dogs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 12%;
  width: 95%;

  border: 1px dotted green
}