@import './util.scss';

.walks-show-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: calc(100vh - 54px - 10px);
}

.walks-show-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12%;
  width: 90%;

  // border: 1px green dotted;
}

.walks-show-back-btn {
  display: flex;
  justify-content: center;
  width: 78px;
  height: 33.88px;
  right: 20px;
  background: #FAFAFA;
  border: 1px solid #3C3C3C;
  box-sizing: border-box;
  background: white;
  border-radius: 150px;
}

.walks-show-chat-btn {
  display: flex;
  justify-content: center;
  width: 78px;
  height: 33.88px;
  right: 20px;
  background: #FAFAFA;
  border: 1px solid #3C3C3C;
  box-sizing: border-box;
  background: white;
  border-radius: 150px;
}

.form.main.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 95%;
  font-size: 40px;

  // border: 1px dotted red;
}

.walks-map-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 68%; 
  width: 95%;
  margin-bottom: 10px;

  // border: 1px dotted green
}

.walks-req-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  height: 68%; 
  width: 100%;
  // margin-bottom: 10px;
  // border: 1px dotted yellow;
}

.walks-req-head {
  font-size: 20px;
  margin-bottom: 10px;
}

.walks-req-index {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 95%;
  flex-wrap: nowrap;
  overflow-y: auto;

  // border: 1px dotted purple
}

.walks-delete-button-container {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: center;
  width: 90%;
  height: 10%;

  // border: 1px dotted green;
}

// .walks-delete-btn {
//   display: flex;
//   justify-content: center;
//   width: 300px;
//   height: 45px;
//   left: 216px;
//   top: 170px;
//   background: #F78888;
//   box-sizing: border-box;
//   border-radius: 200px; 
//   color: white;
// }

.walks-show-map-btn {
  display: flex;
  justify-content: center;
  width: 144px;
  height: 40px;
  left: 216px;
  top: 170px;
  background: #FAFAFA;
  border: 1px solid #3C3C3C;
  box-sizing: border-box;
  border-radius: 200px;  
}

.request-item-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 26%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;

  background: white;
  box-shadow: 0px 3px 11px
    rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.request-user-information-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 95%;
}

.profile-photo.container {
  margin-right: 10px;
}

.req-user-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  height: 50px;
  width: auto;
}

.req-user-name {
  font-size: 18px;
  color: $hover_blue;
}

.modify-approve {
  background-color: $main_blue;
  margin-right: 5px;
  color: white;
}

.modify-deny {
  background-color: $main_pink;
  color: white;
}

.pawed-btn {
  background-color: $main_green;
  margin-right: 5px;
  color: white;
}

.show-map-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  height: 68%; 
  width: 100%;
  margin-bottom: 10px;

  border: 1px dotted green 
}

.chatbtn {
  margin-right: 5px;
}